.home {
    height: 100%;

    .landing {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        position: relative;
    
        #hp1 {
            position: absolute;
            object-fit: contain;
            z-index: 1;
            top: 7.5em;
            left: -21.5em;
            transform: scale(1.4);
        }
        #hp2 {
            position: absolute;
            object-fit: cover;
            z-index: 3;
            top: -22em;
            left: 28em;
            transform: scale(1) rotate(-90deg);
        }
        #name {
            display: inline;
            position: relative;
            transform: translateX(-24vw);
            color: $strong_white;
            z-index: 2;
            font-size: 10em;
            font-family: 'Playfair Display', serif;
        }
    }
    
    .showcase {
        background: $purple;
        display: grid;
        height: 50vh;
        width: 100%;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 150%;
        position: relative;
        margin-bottom: 36vh;
        padding: 0 2%;
    
    
        h1 {
            // padding-left: 10%;
            display: inline;
            width: 100%;
            color: $strong_white;
            z-index: 2;
            font-size: 4.5em;
            font-family: 'Space Grotesk', sans-serif;
            transform: translateY(40%);
    
        }
    
        .headphones {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            overflow: hidden;
            height: fit-content;
            // border: 5px solid red;
            transform: translateY(3em);

            &.studio {
                &::before {
                    // background: red;
                    content: '';
                    position: absolute;
                    // border: 5px solid #;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    opacity: 1;
                    border-radius: 2em;

                    @include trans_md;
                }
                &:hover {
                    &::before {
                        height: 100%;
                        background: #67b5c7;
                    }
                    .headphones_img {
                        transform: scale(0.9);
                    }
                    .browse-btn {
                        transform: translateY(-1em);
                    }
                }
            }

            &.workout {
                &::before {
                    // background: red;
                    content: '';
                    position: absolute;
                    // border: 5px solid #;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    opacity: 1;
                    border-radius: 2em;

                    @include trans_md;
                }
                &:hover {
                    &::before {
                        height: 100%;
                        background: #d3cece;
                    }
                    .headphones_img {
                        transform: scale(0.9);
                    }
                    .browse-btn {
                        transform: translateY(-1em);
                    }
                }
            }

            &.casual {
                &::before {
                    // background: red;
                    content: '';
                    position: absolute;
                    // border: 5px solid #;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    opacity: 1;
                    border-radius: 2em;

                    @include trans_md;
                }
                &:hover {
                    &::before {
                        height: 100%;
                        background: #ebe8e8;
                    }
                    .headphones_img {
                        transform: scale(0.9);
                    }
                    .browse-btn {
                        transform: translateY(-1em);
                    }
                }
            }

            .description {
                color: $orange;
                font-family: 'Space Grotesk', sans-serif;
                font-size: 2em;
                z-index: 1;
            }
            
            .headphones_img {
                width: 80%;
                margin-bottom: 1em;
                z-index: 1;
                @include trans_md;
            }
        }
    }
    
}
    
    
    